[
 	{ rabbit, [
		{ loopback_users, [ ] },
        {% if rabbitmq_ssl_enabled %}
        {ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}]},
        {ssl_listeners, [{{ rabbitmq_ssl_listeners }}]},
        {ssl_options, [{cacertfile,"{{ rabbitmq_ca_cert }}"},
                      {certfile,"{{ rabbitmq_certfile }}"},
                      {keyfile,"{{ rabbitmq_keyfile }}"},
                      {versions,   ['tlsv1.2', 'tlsv1.1']},
                      {verify,verify_peer},
                      {fail_if_no_peer_cert,false}
                      ]},
    	{ rabbitmq_management, [ 
       	{ load_definitions, "{{ rabbitmq_definitions }}"},
		{ listener, [
			{ port, {{ rabbitmq_management_port }} },
            {ssl,      true},
            {ssl_opts, [{cacertfile, "{{ rabbitmq_ca_cert }}"},
                        {certfile,   "{{ rabbitmq_certfile }}"},
                        {keyfile,    "{{ rabbitmq_keyfile }}"}]}
			] }
	] },
        {% else %}


	{ tcp_listeners, [ {{ rabbitmq_tcp_listeners }} ] },
        { ssl_listeners, [ ] },
    	{ rabbitmq_management, [{ load_definitions, "{{ rabbitmq_definitions }}"},
         		{ listener, [{ port, {{ rabbitmq_management_port }} },
                        {ssl, false}]}
			]},
        {% endif %}
		{ hipe_compile, false }
	] }
].
