{
        "bootstrap": true,
        "server": true,
        "datacenter": "{{ consul_dc }}",
        "data_dir": "{{ consul_pers_storage }}",
        "encrypt": "{{ consul_keygen }}",
        "log_level": "INFO",
        "enable_syslog": true
}
