#!!! Managed by Ansible; manual changes wil be overwriten!!!
JAVACMD=/usr/bin/java

LS_HOME=/usr/share/logstash

LS_SETTINGS_DIR=/etc/logstash

LS_OPTS="--path.settings ${LS_SETTINGS_DIR}"

LS_JAVA_OPTS=""

LS_PIDFILE="{{ logstash_pid_file }}"

LS_USER="{{ logstash_user }}"
LS_GROUP="{{ logstash_group }}"

LS_GC_LOG_FILE=/var/log/logstash/gc.log

LS_OPEN_FILES=16384

LS_NICE=19

SERVICE_NAME="{{ logstash_service }}"

SERVICE_DESCRIPTION="{{ logstash_service }}"
